body{
  font-family: 'Open Sans', sans-serif;
  background-color: DarkGray;
  color: white;
}

#container{
  background-image: url('calcbackground.jpeg');
  width: 1000px;
  height: 600px;
  margin-left:200px;
}



#calculator{
  width: 320px;
  height: 520px;
  background-color: black;
}
